* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round";
    text-align: center;
}

body, .textbox {
    margin: 20px 0;
    background: #FFFFFF;
    font-size: 15px;
    color: #7F7772;
}

#mainNav {
    width: 100%;
    min-height: 56px;
    background-color: #fff;
}

    #mainNav .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: #ff7777;
        border: 1px solid #ff7777;
    }

.main-section {
    padding: 2rem 2rem;
}

    .main-section p {
        margin-bottom: 5rem;
    }

.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn-delete {
    background-color: #ff7777;
}

    .btn-delete:hover {
        background-color: #ff4949;
    }

    .btn-delete:focus {
        background-color: #ff4949;
        color: #fff;
    }

    .btn-delete:active {
        background-color: rgb(63, 132, 210) !important;
    }

.btn-primary {
    background-color: #77c1ff;
}

    .btn-primary:hover {
        background-color: #51b0ff;
    }

    .btn-primary:focus {
        background-color: #3678af;
        color: #fff;
    }

    .btn-primary:active {
        background-color: rgb(63, 132, 210) !important;
    }


#header {
    width: 770px;
    height: 80px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 240px;
}

    #logo h1 {
        padding-top: 20px;
        text-align: center;
    }

        #logo h1 a {
            font-weight: normal;
            font-size: 24px;
            color: #3B3B3B;
        }

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 8px;
}

#logo h2 a {
    color: #B3A7A0;
}

#logo a {
    text-decoration: none;
}

#menu {
    float: left;
    width: 530px;
}

    #menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #menu li {
        display: inline;
    }


#page {
    width: 770px;
    margin: 0 auto;
}

    #page h1, #page h2 {
        margin-bottom: 20px;
    }

#content {
    width: 490px;
    padding: 20px;
}

    #content il, #content ul {
        margin: 3em;
    }


#footer {
    clear: both;
    width: 770px;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 5px solid #3B3B3B;
}

    #footer p {
        margin: 0;
        padding: 0;
        line-height: normal;
        font-size: 77%;
    }


#links {
    float: right;
}

.auto-style1 {
    width: 100%;
}

.auto-style2 {
    height: 133px;
}

.auto-style3 {
    height: 370px;
}

.auto-style5 {
    text-align: center;
}

.auto-style6 {
    width: 214px;
}
